@font-face
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face
{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;

  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face
{
  font-family: "Noto Arabic";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/NotoSansArabic-Regular.ttf") format("truetype");
}

@font-face
{
  font-family: "Noto Arabic";
  font-style: normal;
  font-weight: bold;

  src: url("../fonts/NotoSansArabic-Bold.ttf") format("truetype");
}