.header.wrapper
{
  background: radial-gradient(circle, rgba(32,25,25,1) 0%, rgba(31,28,28,1) 16%, rgba(0,0,0,1) 100%);
}

.header.container
{
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "hpj cards" "kbf cards";

  grid-column-gap: 15px;

  max-width: 850px;

  padding: 5vh 5vw;
  margin: auto;
}

.header.title
{
  color: var(--white-text);
}

.header > svg
{
  fill: var(--white-text);

  min-width: 130px;
  max-width: 320px;
  width: 55%;
}

.header.kbf
{
  display: flex;

  grid-area: kbf;
}

.header.hpj
{
  grid-area: hpj;
  flex-grow: 1;

  width: fit-content;
}

.header.hpj > svg
{
  cursor: pointer;
}

.header.hpj > svg:hover
{
  border-bottom: 2px var(--white-text) solid;
  margin-bottom: -2px;
}

.header.cards
{
  grid-area: cards;
  display: flex;

  justify-content: flex-end;

  margin: 5%;
}

/* each card on display is rotated so it won't look boring */

.header.cards > * > *[type="black"]
{
  left: 10px;
  transform: rotateZ(5deg);
}

.header.cards > * > *[type="white"]
{
  transform: rotateZ(-10deg);
}