@import url('https://fonts.googleapis.com/css?family=Cairo|Raleway&display=swap');

html
{
  --white-text: #ffffff;
  --white-background: #ffffff;

  --black-text: #000000;
  --black-background: #000000;

  --grey-background: #423f3f;
}

body
{
  margin: 0;

  font-family: 'Raleway', 'Cairo', sans-serif;
}